{% extends 'userena/base_userena.html' %}

{% block title %}修改密码{% endblock %}


{% block content %}
<form action="" method="post" id="password_change_form">
    {% if user.username == account.user.username %}
          <ul id="box-nav">
              <li class="first"><a href="{% url userena_detail user.username %}"><span>View profile</span></a></li>
              <li><a href="{% url userena_edit account.user.username %}">Edit profile</a></li>
              <li  class="selected"><a href="{% url userena_password_change account.user.username %}">Change password</a></li>
              <li class="last"><a href="{% url userena_email_change account.user.username %}">Change email</a></li>
          </ul>
          {% endif %}
    <fieldset>
        <legend>修改密码</legend>
        {% csrf_token %}
        {{ form.as_p }}
    </fieldset>
    <input type="submit" value="Change password" />
</form>
{% endblock %}
