{% extends 'userena/base_userena.html' %}

{% block title %}{{ profile.user.username }的读你妹 {% endblock %}


{% block content %}
    <div id="details">
        <img src="{{ profile.get_mugshot_url }}" />
        {% if profile.user.get_full_name %}
        <p><strong>Name</strong><br /> {{ profile.user.get_full_name }}</p>
        {% endif %}
        {% if profile.bio %}
        <p><strong>Bio</strong><br />{{ profile.bio }}<p>
        {% endif %}
        {% if profile.webpage %}
        <p><strong>Webpage</strong><br /> <a href="{{ profile.website }}">{{ profile.website }}</a></p>
        {% endif %}
        {% if profile.place %}
        <p><strong>地点</strong><br />{{ profile.place.name }}</p>
        {% endif %}
    </div>

{% endblock %}
